name: Mark Stale Issues and Pull Requests

on:
  schedule:
  - cron: "30 1 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/stale@v3
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'This issue is stale Because it has been open 5 days with no activity. Remove the stale label or comment or this will be closed in 2 days'
        stale-pr-message: 'This PR is stale because it has been open 5 days with no activity. Remove the stale label or comment or this will be closed in 2 days'
        days-before-stale: 5
        days-before-close: 2
        stale-issue-label: '○ Stale'
        stale-pr-label: '○ Stale'
